
/* ************************************************************* */
 /* Media Querys */
/* ************************************************************* */

.vista_mobile {
    display: none;
}
 /* Tablet */
 @media  screen and (max-width: 940px){


    .contenedor_encabezado{
        display: none;
    }
    
    .offcanvas-title{
        color: #FFAA4C;
        font-size: 40px;
    }

    .offcanvas-body{
        background-color: #EEEEEE;
        opacity: 90%;
    }

    .contenedor_encabezado{
        display: none;
    }

    .vista_mobile{
        display: block;
        margin: auto;

    }

    .medio{
        margin-top: 90px;
    }
    
    // .contenedor_encabezado{
    //     height: auto;
    // }

    // .encabezado{
    //     flex-direction: column;
    // }

    .fin_pag{

        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .pie_logo{
        height: auto;
    }
   

    .social_media{
        list-style: none;
        width: auto;
        flex-direction: column;
    }
    .caja_testimonios{
        width: auto;
        align-content: center;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr ;
        grid-template-areas: 
        "caja1"
        "caja2"
        "caja3"
        "caja4";
    }
    .caja1{
        display: flex;
        flex-direction: column;
        align-content: center;
        width: auto;
        text-align: center;
        align-items: center;
    }
    
    .caja2{
        display: flex;
        flex-direction: column;
        align-content: center;
        width: auto;
        text-align: center;
        align-items: center;
    }
    .caja3{
        display: flex;
        flex-direction: column;
        align-content: center;
        width: auto;
        text-align: center;
        align-items: center;
    }
    .caja4{
        display: flex;
        flex-direction: column;
        align-content: center;
        width: auto;
        text-align: center;
        align-items: center;
    }
    /* configuracion de la foto testimonio */
.foto_usuario{
    display: flex;
    grid-area: foto_usuario;
    height: auto;
    width: auto;
}
.foto_medida{

    height: 100%;
    width: 100%;
}
/* configuracion texto del testimonio */
 .text_testimonio{
     display: flex;
     margin: 1px;
     width: auto;
     height: 200px;
     grid-area: text_testimonio;
     color: #EEEEEE;
 }
 .nombre_user{
     display: flex;
 }

.caja_contacto{
    display: flex;
    border: 20px;
    padding: 1px;  
}

.caja_contenido{
    background-color: #035397;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
    align-content: center;
    
    border-radius: 20px;
    color: #EEEEEE;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.fondo_medio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 }
  /* Mobile */
  @media  screen and (max-width: 740px){

   
    
    .offcanvas-title{
        color: #FFAA4C;
        font-size: 40px;
    }

    .offcanvas-body{
        background-color: #EEEEEE;
        opacity: 90%;
    }

    .nav-item{
        padding: 3px;
    }
    .estilo_nav {
        padding: 0.5rem;
        letter-spacing: 2px;
        text-decoration: none;
        color: #035397;
    }


    .menu_item{
        margin: 1px;
    }
    .menu{
        flex-wrap: wrap;
        gap: 20px;
    }

 
    .titulo{
        font-size: 30px;
    }
}
