/* partes que se repiten encabezado y footer*/
@import "variable";
@import "encabezado";
@import "main";
@import "footer";
@import "responsive";


/* Reseteo */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* color al cuerpo de la pag */
body{
    background: $primary-color; 
    background: -webkit-linear-gradient(to top, #004e92, #035397);  
    background: linear-gradient(to top, #004e92 , #035397 ); 
    position: relative;
    padding-bottom: 100px;
    min-height: 100vh;
} 

/* Quitar las viñetas de las listas */
ul{
    list-style: none;
    padding: 0;
    margin-bottom: 0;
} 

p{
    margin: 1px;
    padding: 1px;
    text-align: center;
}
